.dashboard-events,
.dashboard-events * {
  box-sizing: border-box;
}
.dashboard-events {
  background: #ffffff;
  height: 1477px;
  position: relative;
  overflow: hidden;
}

.button {
  border: none;
  background: none;
  color: #131315;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  transition:color 0.3s;
}

.button img {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
  transition: filter 0.3s;
}

.button:hover {
  cursor: pointer;
  color:#ffffff;
  background-color: #6b3de0;
  border-radius: 5px;
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 10;
  width: 191px;
  position: relative;
}

.button:hover img {
  filter: brightness(0) invert(1);
}

.select {
  background: none;
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: #6b3de0;
  border-radius: 5px;
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 10;
  width: 191px;
  position: relative;
}

.select img {
  filter: brightness(0) invert(1);
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}

.dashboard{
  background: #ffffff;
  width: 220px;
  height: 696px;
  left: 33px;
  top: 92px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.dashboard-frame {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: center;
  width: 191px;
  height: 97.7%;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 2.3%;
  top: 0%;
}

.dashboard-items {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.table {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
  width: 1089px;
  height: 840px;
  position: absolute;
  left: 301px;
  top: 545px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 117px;
  position: relative;
}
.see-all {
  color: #840faf;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  letter-spacing: -0.3px;
  font-weight: 400;
  position: relative;
}
.icon-from-tabler-io {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 503px;
  top: 752px;
}
.frame-48096287 {
  background: #ffffff;
  width: 1087px;
  height: 57px;
  position: absolute;
  left: 2px;
  top: 112px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-480962875 {
  background: #f1efef;
  width: 1092px;
  height: 38px;
  position: absolute;
  left: 2px;
  top: 72px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.evt-2031 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 44px;
  top: 19px;
}
.c-2453 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 490px;
  top: 19px;
}
.birthday {
  color: #454545;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 260px;
  top: 19px;
}
._2025-11-05 {
  color: #454545;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.3px;
  font-weight: 400;
  position: absolute;
  left: 695px;
  top: 18px;
}
.frame-48096288 {
  background: rgba(158, 176, 229, 0.84);
  border-radius: 10px;
  width: 90px;
  height: 23px;
  position: absolute;
  left: 919px;
  top: 17px;
  overflow: hidden;
}
.up-coming {
  color: #0b2c75;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-weight: 400;
  position: absolute;
  left: 10px;
  top: 2px;
}
.frame-480962882 {
  background: #ffffff;
  width: 1087px;
  height: 57px;
  position: absolute;
  left: 2px;
  top: 175px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-48096289 {
  background: #ffffff;
  width: 1087px;
  height: 57px;
  position: absolute;
  left: 2px;
  top: 238px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-48096290 {
  background: #ffffff;
  width: 1087px;
  height: 57px;
  position: absolute;
  left: 2px;
  top: 301px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-48096291 {
  background: #ffffff;
  width: 1087px;
  height: 57px;
  position: absolute;
  left: 2px;
  top: 364px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-48096292 {
  background: #ffffff;
  width: 1087px;
  height: 57px;
  position: absolute;
  left: 2px;
  top: 427px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-480962883 {
  background: rgba(244, 220, 140, 0.75);
  border-radius: 10px;
  width: 92px;
  height: 23px;
  position: absolute;
  left: 917px;
  top: 16px;
  overflow: hidden;
}
.in-progress {
  color: #0b2c75;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-weight: 400;
  position: absolute;
  left: 10px;
  top: 2px;
}
.frame-48096293 {
  background: #ffffff;
  width: 1087px;
  height: 57px;
  position: absolute;
  left: 2px;
  top: 490px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-48096294 {
  background: #ffffff;
  width: 1087px;
  height: 57px;
  position: absolute;
  left: 2px;
  top: 553px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-480962884 {
  background: rgba(101, 240, 147, 0.5);
  border-radius: 10px;
  width: 92px;
  height: 23px;
  position: absolute;
  left: 917px;
  top: 17px;
  overflow: hidden;
}
.completed {
  color: #0b2c75;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-weight: 400;
  position: absolute;
  left: 11px;
  top: 3px;
}
.frame-48096295 {
  background: #ffffff;
  width: 1087px;
  height: 57px;
  position: absolute;
  left: 2px;
  top: 616px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-48096296 {
  background: #ffffff;
  width: 1087px;
  height: 57px;
  position: absolute;
  left: 2px;
  top: 679px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-480962885 {
  background: rgba(254, 45, 45, 0.5);
  border-radius: 10px;
  width: 92px;
  height: 23px;
  position: absolute;
  left: 917px;
  top: 16px;
  overflow: hidden;
}
.cancelled {
  color: #0b2c75;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-weight: 400;
  position: absolute;
  left: 14px;
  top: 3px;
}
.events {
  color: #7848f4;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 43.5px);
  top: 19px;
}
.frame-480962886 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
  width: 1089px;
  height: 392px;
  position: absolute;
  left: 301px;
  top: 124px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.search-events {
  color: #7848f4;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 83.5px);
  top: 19px;
}
.search-bar {
  width: 281px;
  height: 37px;
  position: absolute;
  left: 402px;
  top: 65px;
}
.rectangle-24 {
  background: #ffffff;
  border-radius: 11px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.02);
  border-width: 2px;
  width: 281px;
  height: 37px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-25 {
  background: #f1efef;
  border-radius: 11px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.02);
  border-width: 2px;
  width: 128px;
  height: 27px;
  position: absolute;
  left: 109px;
  top: 5px;
}
.event-id {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 25px;
  top: 9px;
}
.pngwing-com-2025-08-10-t-210607-925-1 {
  width: 23px;
  height: 23px;
  position: absolute;
  left: 247px;
  top: 7px;
  object-fit: cover;
  aspect-ratio: 1;
}
.table-names {
  position: absolute;
  inset: 0;
}
.frame-48096286 {
  background: #f1efef;
  width: 1092px;
  height: 38px;
  position: absolute;
  left: 0px;
  top: 124px;
  overflow: hidden;
}
.event-id2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 53px;
  top: 7px;
}
.event-category {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 240px;
  top: 7px;
}
.client-id {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 496px;
  top: 8px;
}
.date {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 721px;
  top: 7px;
}
.status {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 942px;
  top: 7px;
}
.component-4 {
  background: #ffffff;
  width: 220px;
  height: 696px;
  position: absolute;
  left: 33px;
  top: 92px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame-46-default {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: center;
  width: 191px;
  height: 97.7%;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 2.3%;
  top: 0%;
}
.stats-off {
  padding: 0px 0px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.phosphor-icons-squares-four {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.stats {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.payments-off {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.phosphor-icons-paper-plane-right {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.ellipse-62 {
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 8px;
  top: 2px;
  width: 18px;
  height: 32px;
}
.payments {
  color: var(--black, #131315);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.applications-off {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.phosphor-icons-user {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.applications {
  color: var(--black, #131315);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.complains-off {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.phosphor-icons-angular-logo {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.vector-stroke {
  width: 81.25%;
  height: 84.38%;
  position: absolute;
  right: 9.37%;
  left: 9.37%;
  bottom: 6.25%;
  top: 9.38%;
  overflow: visible;
}
.div3 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 11px;
  width: 8px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.complains {
  color: var(--black, #131315);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.profiles-off {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.phosphor-icons-user2 {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.profiles {
  color: var(--black, #131315);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.select {
  background: #7848f4;
  border-radius: 5px;
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 191px;
  position: relative;
}
.events-on {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.phosphor-icons-television-simple {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.events2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.feedbacks-off {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.phosphor-icons-paper-plane-right2 {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.feedbacks {
  color: var(--black, #131315);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.admins-off {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.phosphor-icons-paper-plane-right3 {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.group-39 {
  position: fixed;
  left: 0px;
  top: 0px;
}
.frame-31 {
  background: #ffffff;
  width: 1440px;
  height: 92px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.rectangle-21 {
  border-radius: 100px;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 1320px;
  top: 11px;
  object-fit: cover;
}
.vector {
  width: 1.74%;
  height: 29.35%;
  position: absolute;
  right: 13.33%;
  left: 84.93%;
  bottom: 43.48%;
  top: 27.17%;
  overflow: visible;
}
.phosphor-icons-chats-circle {
  width: 36px;
  height: 35px;
  position: absolute;
  left: 1121px;
  top: 21px;
  overflow: visible;
}
.vector2 {
  width: 1.67%;
  height: 26.09%;
  position: absolute;
  right: 27.64%;
  left: 70.69%;
  bottom: 42.39%;
  top: 31.52%;
  overflow: visible;
}
.frame-48096275 {
  border-radius: 9px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.08);
  border-width: 1px;
  width: 52px;
  height: 37px;
  position: absolute;
  left: 33px;
  top: 25px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.72);
  overflow: hidden;
}
.group-40 {
  height: auto;
  position: absolute;
  left: 8px;
  top: 12px;
  overflow: visible;
}
.evo-plan-logo-new-removebg-preview-2 {
  border-radius: 15px;
  width: 150px;
  height: 39px;
  position: absolute;
  left: 66px;
  top: 26.5px;
  object-fit: cover;
}

.btn_to_mainPage {
  border: none;
  background: none;
  cursor: pointer
}

img.evo-plan-logo-new-removebg-preview-2 {
  transition: 0.3s;
}

img.evo-plan-logo-new-removebg-preview-2:hover {
  transform: scale(1.1);
}
.logout-btn {
  border-radius: 5px;
  border: none;
  background-color: #7848f4;
  text-align: center;
  color: #ffffff;
  font-family: "  Inter-Bold", sans-serif;
  font-size: 16px;
  width: 100px;
  height: 40px;
  position: absolute;
  right: 50px;
  top: 40px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #5e36c7;
}