.dashboard-admins,
.dashboard-admins * {
  box-sizing: border-box;
}
.dashboard-admins {
  background: #ffffff;
  height: 2183px;
  position: relative;
  overflow: hidden;
}
.admins-frame {
  background: #ffffff;
  color: #6b3de0;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
  width: 1089px;
  height: 333px;
  position: absolute;
  left: 292px;
  top: 136px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.coordinators-frame {
  background: #ffffff;
  color: #6b3de0;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
  width: 1089px;
  height: 333px;
  position: absolute;
  left: 300px;
  top: 510px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-31 {
  background: #ffffff;
  width: 1440px;
  height: 92px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.rectangle-21 {
  border-radius: 100px;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 1320px;
  top: 11px;
  object-fit: cover;
}
.evo-plan-logo-new-removebg-preview-2 {
  border-radius: 15px;
  width: 150px;
  height: 39px;
  position: absolute;
  left: 66px;
  top: 26.5px;
  object-fit: cover;
}

.btn_to_mainPage {
  border: none;
  background: none;
  cursor: pointer
}

img.evo-plan-logo-new-removebg-preview-2 {
  transition: 0.3s;
}

img.evo-plan-logo-new-removebg-preview-2:hover {
  transform: scale(1.1);
}

.admin-topic {
  color: #6b3de0; 
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 44px;
  font-weight: 700;
  position: absolute;
  left: 36px;
  top: 12px;
}
.coordinator-topic {
  color: #6b3de0; 
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 44px;
  font-weight: 700;
  position: absolute;
  left: 36px;
  top: 12px;
}
.add-admin-btn {
  border: 1px solid #6b3de0;
  background: #ffffff;
  border-radius: 5px;
  padding: 6px 15px 6px 15px;
  color: #6b3de0;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  right: 36px;
  top: 28px;
}
.add-admin-btn:hover {
  cursor: pointer;
  background-color: #6b3de0;
  color: #ffffff;
  transition: color 0.3s;
}
.add-coordinator-btn {
  border: 1px solid #6b3de0;
  background: #ffffff;
  border-radius: 5px;
  padding: 6px 15px 6px 15px;
  color: #6b3de0;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  right: 36px;
  top: 28px;
}
.add-coordinator-btn:hover {
  cursor: pointer;
  background-color: #6b3de0;
  color: #ffffff;
  transition: color 0.3s;
}
.admin-table-container {
  position: absolute;
  left: 25px;
  top: 80px;
  width: 1039px;
  height: 228px;
  overflow-y: auto;
}

.text {
  font-family: "Inter-Bold", sans-serif;
}


.logout-btn {
  border-radius: 5px;
  border: none;
  background-color: #7848f4;
  text-align: center;
  color: #ffffff;
  font-family: "  Inter-Bold", sans-serif;
  font-size: 16px;
  width: 100px;
  height: 40px;
  position: absolute;
  right: 50px;
  top: 40px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #5e36c7;
}


